<div class="col-xs-4 profile-left">
  <img ng-src="{{profile.photo_200 || profile.photo_100}}" alt="...">
  <div class="list-group profile-action-list">
    <a href="#" class="list-group-item">ASdasd</a>
    <a href="#" class="list-group-item">Add to bookmarks</a>
  </div>
  <div class="panel panel-default center">
    <div class="panel-heading ">{{friends.count}} friends</div>
    <div class="panel-body center">
      <div ng-repeat="friend in friends.items" class="col-xs-4 profile-friend">
        <a ng-href="#/profile/{{friend.id}}"><img ng-src="{{friend.photo_100}}" alt="" /></a>
        <p>
          <a ng-href="#/profile/{{friend.id}}" >{{friend.first_name}}</a>
        </p>
      </div>
    </div>
  </div>
  
  <div class="panel panel-muted center">
    <div class="panel-heading ">{{friends.count}} online</div>
    <div class="panel-body center">
      <div ng-repeat="friend in friends.online" class="col-xs-4 profile-friend">
        <a ng-href="#/profile/{{friend.id}}"><img ng-src="{{friend.photo_100}}" alt="" /></a>
        <p>
          <a ng-href="#/profile/{{friend.id}}" >{{friend.first_name}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-8 profile-right">
  <h5>{{profile.first_name + ' '+profile.last_name }}</h5>
  <small>{{profile.status}}</small>
  <hr/>
  <dl class="dl-horizontal profile-info">
    <dt>Birth date</dt>
    <dd>{{profile.bdate || "no"}}</dd>
    <dt>Town city</dt>
    <dd>{{profile.town_city || 'no'}}</dd>
    <dt>SOme</dt>
    <dd>else</dd>
  </dl>
  <div class="panel panel-default">
    <div class="panel-heading">Photos</div>
    <div class="panel-body center">
      <div class="group-photo-preview" ng-repeat="photo in photos.items">
        <img ng-src="{{photo.photo_130}}" />
      </div>
    </div>
  </div>
  <module-wall data="wall"></module-wall>
</div>